<!-- <h3 class="well text-center">All Tasks</h3> -->
<div class="container col-sm-4 dash">
  <h3>To DO</h3>

  <table>
    <tr>
      <th>Content</th>
    </tr>
    <%= render @to_do %>
  </table>
</div>


<div class="container col-sm-4 dash">
  <h3>Doing</h3>

  <table>
    <tr>
      <th>Content</th>
    </tr>
    <%= render @doing %>
  </table>
</div>

<div class="container col-sm-4 dash">
  <h3>Done</h3>

  <table>
    <tr>
      <th>Content</th>
    </tr>
    <%= render @done %>
  </table>
</div>
