<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="well">
        <h4>Task #<%= @task.id %></h4>
        <%= @task.content %>
        <hr />
        <small>
          Created <%= @task.created_at %> | Last Update <%= @task.updated_at %>
        </small>
      </div>
    </div>
  </div>
</div>
