<div class="row">
  <div class="col-md-4 dash">
    <h1 class="text-center">TO DO</h1>
      <div class="panel panel-info">
        <div class="panel-heading">
          My To Do
        </div>
        <div class="panel-body">
          My body
        </div>
        <div class="panel-footer">
          My footer
        </div>
      </div>
  </div>

  <div class="col-md-4 dash">
    <h1 class="text-center">DOING</h1>
      <div class="panel panel-info">
        <div class="panel-heading">
          My To Do
        </div>
        <div class="panel-body">
          My body
        </div>
        <div class="panel-footer">
          My footer
        </div>
      </div>
  </div>

  <div class="col-md-4 dash">
    <h1 class="text-center">DONE</h1>
      <div class="panel panel-info">
        <div class="panel-heading">
          My To Do
        </div>
        <div class="panel-body">
          My body
        </div>
        <div class="panel-footer">
          My footer
        </div>
      </div>
  </div>
</div>

teste de git
