@import "bootstrap-sprockets";
@import "bootstrap";
@import url("https://bootswatch.com/flatly/bootstrap.min.css");
@import "font-awesome";

body {


}
footer {
  padding-left: 15px;
  padding-right: 15px;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    background:#ecf0f1;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -40%;
  }

  .row-offcanvas-left.active {
    left: 40%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 40%;
    margin-left: 12px;
  }
}

#sidebar {

}

.nav-list:hover {

}

#side1 {
  background-color: #086bac;
  padding: 20px 5px 20px 10px;
  border: 1px solid #086bac;
  text-align: center;
  color: #fbfcff;

}

#side2 {
  background-color: #086bac;
  padding: 20px 10px 20px 5px;
  border: 1px solid #086bac;
  text-align: center;
  color: #fbfcff;
}

.listing {
  list-style-type: none;
  text-align: center;
}

.dash {
  border: 1px solid black;
}
