
  <div class="row row-offcanvas row-offcanvas-left">
    <div class=" col-xs-2 sidebar-offcanvas" id="sidebar" role="navigation">
      <div class="sidebar-nav">
        <ul class="nav nav-list">
          <li>
            <%= link_to '<p class="nav-list btn btn-primary btn block"><i class="fa fa-plus-circle"></i> New Task</p>'.html_safe, new_task_path, html: {class: "btn btn-default glyphicon glyphicon-tasks"} %>
          </li>
          <li class="nav-divider"></li>
        </ul>
      </div>
    </div>
  </div>
