<div class="container">
  <div class="row row-offcanvas row-offcanvas-left">
    <div class=" col-sm-1 sidebar-offcanvas" id="sidebar" role="navigation">
      <div class="sidebar-nav">
        <ul class="nav nav-list">
          <li class="active"><a href="#">Link</a></li>
          <li>
            <%= link_to 'About', about_path %>
          </li>
          <li>
            <a href="#" class="glyphicon glyphicon-tasks" id="side1"></a>
            <p id="side2">Task</p>
          </li>
          <li><a href="#">Link</a></li>
          <li class="nav-divider"></li>
          <li><a href="#">Link</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
